<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        {% include scripts.html %}
    </head>

    <body>
        <!-- Description -->
        {% if page.description %}
            <p>{{ page.description }}</p>
        {% endif %}
        
        <!-- Features -->
        {% if page.features.size > 0 %}
            <p>
                Features:
                <div>
                    {% for feature in page.features %}
                        <span class="badge badge-pill text-primary border border-primary ml-1">{{ feature }}</span>
                    {% endfor %}
                </div>
            </p>
        {% endif %}
        
        <!-- Links -->
        {% if page.links.size > 0 %}
            <p>
                Available on:
                <div style="text-align: center;">
                    {% for link in page.links %}
                    <span class="badge badge-pill text-primary border border-primary ml-1" style="margin: 10px;">
                        <a href="{{ link.href }}" target="_blank">
                            {% if link.src %}
                            <img src="{{ link.src }}" style="margin: 10px; width: 50px; height: 50px;">
                            {% else if link.desc %}
                            <p>{{ link.desc }}</p>
                            {% endif %}
                        </a>
                    </span>
                    {% endfor %}
                </div>
            </p>
        {% endif %}
        
        <!-- Gallery -->
        {% include gallery.html gallery=page.gallery gallery_dir=page.gallery_dir
            type="screenshot" itemsPerRow=5 %}

    </body>

</html>