---
layout: page
permalink: /experience/
---

<p style="text-align: center;">
    <a href="/assets/cv_en.pdf" target="_blank">Download my CV</a>
</p>

<h3 class="post-title">
    Work experiences 
</h3>

{% assign experiences = site.experience | sort: 'date' | reverse %}
{% for exp in experiences %}
    {% if exp.type == 'employment' %}
        <article class="post-preview" >
            <p style="padding-left: 15%; padding-right: 15%;"><a href="{{ exp.website }}">
                <img src="{{ exp.logo }}" style="border-radius: 10px; width: 100%; margin-left: auto; margin-right: auto;" />
            </a></p>
            <div style="width: 100%; display: table; margin-bottom: 20px;">
                <div style="display: table-cell;
                    vertical-align: middle;
                    padding-right: 10px;">
                    <h3 class="post-title">
                        {{ exp.position }}
                    </h3>
                    <h4 class="post-subtitle">
                        {{ exp.company }}
                    </h4>
                    <p class="post-meta" 
                        style="margin-bottom: -5px;">
                        {{ exp.period }}
                    </p>
                    <br/>
                    <p class="post-subtitle">
                        {{ exp.description }}
                    </p>
                </div>
            </div>
        </article>
    {% endif %}
{% endfor %}

<h3 class="post-title">
    Collaborations
</h3>

<p>
{% for exp in site.experience %}
    {% if exp.type == 'collaboration' %}
        <a href="{{ exp.website }}" style="margin: 10px;">
            <img src="{{ exp.logo }}" style="border-radius: 10px; width: 200px;" />
        </a>
    {% endif %}
{% endfor %}
</p>