---
title: Experience
layout: page
permalink: /experience/
---

{% include scripts.html %}
<link rel="stylesheet" href="/css/bootstrap.css">

<p style="text-align: center;">
    <a href="/assets/cv_en.pdf" target="_blank">Download my CV</a>
</p>

{% assign experiences = site.experience | sort: 'date' | reverse %}

<h3 class="post-title">Work experiences</h3>
<div class="card-columns three m-3 mt-5">
    {% assign current_type = "employment" %}
    {% for exp in experiences %}
        {% include card-experience.html experience = exp %}
    {% endfor %}
</div>
<br/>

<h3 class="post-title">Collaborations</h3>
<div class="card-columns three m-3 mt-5">
    <div class="three">
        {% assign current_type = "collaboration" %}
        {% for exp in experiences %}
            {% include card-experience.html experience = exp %}
        {% endfor %}
    </div>
</div>
<br/>